body {
  text-align: center;
  font-family: Arial;
  background: #d6c3a3;
}

canvas {
  border: 2px solid black;
  background: #6fbf73;
}

#tradeUI {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 10px;
  border: 2px solid black;
}
