
body {
  margin: 0;
  font-family: Arial;
  background: #cbb89d;
  text-align: center;
}

/* HUD */
#hud {
  background: #3b2f2f;
  color: white;
  padding: 10px;
}

.controls {
  font-size: 12px;
  opacity: 0.8;
}

/* GAME CANVAS */
canvas {
  border: 3px solid black;
  background: #6fbf73;
  display: block;
  margin: 10px auto;
}

/* TRADE UI */
#tradeUI {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 15px;
  border: 2px solid black;
  display: none;
  width: 200px;
}
