body {
  font-family: Arial;
  text-align: center;
  background: #e7e2d6;
}

.container {
  display: flex;
  justify-content: space-around;
}

.box {
  background: white;
  width: 30%;
  padding: 10px;
  border-radius: 10px;
}

.hunt-area img {
  width: 80px;
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent;
}

.hunt-area img:hover {
  border: 2px solid black;
}

.item {
  border: 1px solid #444;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.item img {
  width: 50px;
}
